/* Copyright 2015 The Vanadium Authors. All rights reserved. */
/* Use of this source code is governed by a BSD-style */
/* license that can be found in the LICENSE file. */

div.data-table {
  margin-top: var(--subsection-margin-top);
}


div.data-table div.data-table-title {
  inherits: div.group-title;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

div.data-table tr {
  line-height: 14px;
}

div.data-table tr:first-child {
  line-height: 18px;
}

div.data-table td {
  padding-right: 12px;
}

div.data-table table {
  color: var(--dark-green-grey);
  font-size: 12px;
  margin-top: 4px;
}

.darkTheme div.data-table table {
  color: var(--light-green-grey);
}

.darkTheme div.data-table a {
  color: LightBlue;
}

div.data-table tr:first-child td {
  font-weight: var(--font-weight-medium);
}

div.data-table div.data-table-content {
  padding-top: 2px;
  font-size: 12px;
  display: flex;
}

div.data-table div.type-header {
  font-weight: var(--font-weight-medium);
  line-height: 20px;
}

div.data-table div.column {
  margin-right: 20px;
}
