/* Copyright 2015 The Vanadium Authors. All rights reserved. */
/* Use of this source code is governed by a BSD-style */
/* license that can be found in the LICENSE file. */

body {
  height: 100%;
}

html {
  min-height: 100%;
  position: relative;
}

div.main {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

div.main.darkTheme {
  background-color: var(--dark-background);
}

div.main-container {
  position: absolute;
  display: flex;
  top: var(--header-height);
  left: 0;
  right: 0;
  bottom: 0;
  flex-grow: 1;
  justify-content: center;
  overflow-y: auto;
}

div.main-content {
  display: flex;
  width: 100%;
  height: 100%;
  flex-grow: 1;
}

div.settings-gear {
  position: absolute;
  left: 4px;
  bottom: 4px;
  width: 16px;
  height: 16px;
  background-image: url('gear.svg');
  background-size: 16px 16px;
  background-repeat: no-repeat;
  cursor: pointer;
  opacity: 0.6;
}

.darkTheme div.settings-gear {
  background-image: url('light-gear.svg');
}

div.settings-gear:hover {
  opacity: 1;
}
