/* Copyright 2015 The Vanadium Authors. All rights reserved. */
/* Use of this source code is governed by a BSD-style */
/* license that can be found in the LICENSE file. */
.col-metric {
  position: relative;
  padding: 6px 4px 6px 4px;
  display: flex;
  width: var(--col-metric-width);
  height: var(--col-metric-height);
  background: var(--cyan-800);
  flex-direction: row;
  cursor: pointer;
}

.col-metric.warning {
  background-color: var(--warning) !important;
}

.col-metric.fatal {
  background-color: var(--fatal) !important;
}

.darkTheme .col-metric {
  background: DarkGreen;
}

.col-metric .cur-value {
  position: absolute;
  left: 166px;
  top: 6px;
  color: white;
  font-size: 14px;
  height: var(--col-metric-content-height);
  line-height: var(--col-metric-content-height);
}

.col-metric div.cur-value.history {
  color: #B2DADD !important;
}

.darkTheme .col-metric div.cur-value.history {
  color: #AAA !important;
}

.col-metric.err .cur-value {
  color: red !important;
}

.col-metric div.sparkline {
  position: absolute;
  top: 4px;
  left: 6px;
  width: 156px;
  height: var(--col-metric-content-height);
}

.col-metric svg {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 156px;
  height: var(--col-metric-content-height);
}

.col-metric svg.mouse-line {
  position: absolute;
  top: 0px;
  left: 6px;
  width: 156px;
  height: var(--col-metric-height);
}

.col-metric svg.content {
}

.col-metric svg.content polyline {
  vector-effect: non-scaling-stroke;
  fill: none;
  stroke: white;
  stroke-width: 0.8;
}

.col-metric svg.threshold path {
  vector-effect: non-scaling-stroke;
  fill: none;
  stroke: white;
  stroke-width: 0.8;
}

.col-metric svg.mouse-line {
  shape-rendering: crispedges;
}

.col-metric svg.mouse-line polyline {
  vector-effect: non-scaling-stroke;
  fill: none;
  stroke: rgba(255, 255, 255, 0.2);
  stroke-width: 1;
}

.col-metric div.highlight-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: white;
  opacity: 0;
}

.col-metric:hover div.highlight-overlay {
  opacity: 0.1;
}

.col-metric.selected div.highlight-overlay {
  opacity: 0.2;
}
