/* Copyright 2015 The Vanadium Authors. All rights reserved. */
/* Use of this source code is governed by a BSD-style */
/* license that can be found in the LICENSE file. */

div.metric-actions-container {
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;
}

div.metric-actions-container div.inner-container {
  position: absolute;
  display: flex;
  top: 20%;
  left: 50%;
  width: 700px;
  height: 440px;
  margin-left: -350px;
  background-color: white;
  padding: 10px;
}

div.metric-actions-container div.metric-actions-list {
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 12px;
}

div.metric-actions-container div.metric-actions-content {
  width: 440px;
  padding-left: 12px;
  border-left: 1px #999 dashed;
  display: flex;
  flex-direction: column;
}

div.metric-actions-container div.metric-actions-content div.title {
  font-weight: var(--font-weight-medium);
  padding: 4px 0px 16px 0px;
}

div.metric-actions-container div.btn-close {
  position: absolute;
  padding-top: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #999;
  bottom: 10px;
  right: 10px;
}

div.metric-actions-container div.btn-close:hover {
  color: #444;
}

div.metric-actions-container div.metric-actions-content div.row {
  display: flex;
  flex-direction: row;
}

div.metric-actions-container div.metric-actions-content div.space {
  height: 14px;
  width: 100%;
}

div.metric-actions-container div.metric-actions-content div.item-label {
  font-weight: var(--font-weight-medium);
  width: 140px;
  padding-right: 10px;
}

div.metric-actions-container div.metric-actions-content div.item-value.history {
  opacity: 0.5;
}

div.metric-actions-container div.metric-actions-content div.item-link {
  margin-left: 10px;
}

div.metric-actions-list div.col-metric {
  border-bottom: 1px dotted #888;
}
