/* Copyright 2015 The Vanadium Authors. All rights reserved. */
/* Use of this source code is governed by a BSD-style */
/* license that can be found in the LICENSE file. */

div.metrics-group {
  margin-top: var(--subsection-margin-top);
}

div.metrics-group div.link-container {
  display: flex;
}

div.metrics-group a {
  text-decoration: none;
  height: 100%;
  color: var(--dark-green-grey);
  padding: 0px 4px;
  cursor: pointer;
  font-size: 12px;
  width: 30px;
  text-align: center;
}

div.metrics-group a:hover {
  background-color: #DDD;
}

div.metrics-group-title-container {
  inherits: div.group-title;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

div.metrics-group-title {
  width: 100%;
}

div.metrics-group-row {
  display: flex;
}

div.metrics-group-row div:last-child {
  border-right: none !important;
}
