/* Copyright 2016 The Vanadium Authors. All rights reserved. */
/* Use of this source code is governed by a BSD-style */
/* license that can be found in the LICENSE file. */

div.status-table {
  color: var(--dark-green-grey);
  padding-top: 20px;
  margin-right: 120px;
}

.darkTheme div.status-table {
  color: var(--light-green-grey);
}

div.status-table .row {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

div.status-table .row-header {
  width: 120px;
  text-align: right;
  padding-top: 19px;
  padding-right: 10px;
  line-height: 18px;
}

div.status-table .row-header.warning div {
  color: var(--warning) !important;
}

div.status-table .row-header.fatal div {
  color: var(--fatal) !important;
}

div.status-table .header-label {
  font-weight: 500;
}

div.status-table .header-numhealthy {
  margin-top: 2px;
  font-size: 18px;
  color: var(--cyan-800);
}

.darkTheme div.status-table .header-numhealthy {
  color: LightGreen;
}

div.status-table .col {
  margin-left: 8px;
}

div.status-table .col-header {
  font-size: 12px;
  height: 21px;
}

div.status-table div.mouseover-time {
  position: absolute;
  top: var(--col-metric-height);
  left: 0px;
  color: #999;
  font-size: 11px;
}
