/* Copyright 2015 The Vanadium Authors. All rights reserved. */
/* Use of this source code is governed by a BSD-style */
/* license that can be found in the LICENSE file. */

/* Variables */
:root {
  /* Colors */
  --blue-grey-800: #37474F;
  --cyan-800: #00838F;
  --dark-green-grey: #607D8B;
  --light-green-grey: #CFD8DC;
  --deeporange-A200: #FF6E40;
  --light-green: #80B280;
  --light-grey: #ECEFF1;
  --light-grey2: #CFD8DC;
  --light-red: #FF9999;
  --medium-grey: #999;
  --super-light-grey: #FAFAFA;
  --dim-green: #339CA5;
  --dim-green2: #80C1C7;
  --dark-red: #AA0000;
  --red-dimmed: rgba(255, 0, 0, 0.1);
  --red-stripes-background: repeating-linear-gradient(
    -45deg,
    rgba(170, 0, 0, 0.8),
    rgba(170, 0, 0, 0.8) 10px,
    rgba(170, 0, 0, 1) 10px,
    rgba(170, 0, 0, 1) 20px
  );
  --light-red-stripes-background: repeating-linear-gradient(
    -45deg,
    rgba(220, 0, 0, 0.8),
    rgba(220, 0, 0, 0.8) 10px,
    rgba(220, 0, 0, 1) 10px,
    rgba(220, 0, 0, 1) 20px
  );
  --red-stripes-background-dimmed: repeating-linear-gradient(
    -45deg,
    rgba(255, 0, 0, 0.1),
    rgba(255, 0, 0, 0.1) 10px,
    rgba(255, 0, 0, 0.16) 10px,
    rgba(255, 0, 0, 0.16) 20px
  );
  --light-red-stripes-background-dimmed: repeating-linear-gradient(
    -45deg,
    rgba(255, 0, 0, 0.2),
    rgba(255, 0, 0, 0.2) 10px,
    rgba(255, 0, 0, 0.3) 10px,
    rgba(255, 0, 0, 0.3) 20px
  );
  --white-transparent: rgba(255, 255, 255, 0.4);
  --dark-background: #222;
  --dark-highlight: #333;
  --warning: #C36900;
  --fatal: #AA0000;

  /* Fonts */
  --primary-font: Roboto;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;

  /* Shadows */
  --drop-shadow: rgba(0, 0, 0, 0.30) 0px 2px 5px 0px;
  --section-shadow: rgba(0, 0, 0, 0.30) 0px 0px 4px 0px;

  /* Heights */
  --col-metric-height: 48px;
  --col-metric-content-height: 40px;
  --header-height: 60px;
  --zone-title-height: 40px;
  --full-graph-height: 240px;
  --graph-time-div-height: 20px;
  --metric-item-height: 50px;
  --metric-item-title-height: 16px;
  --metric-item-value-height: 16px;
  --sparkline-height: 24px;

  /* Width */
  --col-metric-width: 206px;
  --graph-number-div-width: 30px;
  --metric-item-width: 200px;
}
